<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>

  <div id=customer0 class=customer>
        <div id=home class=home> 
        <a href="/customer"><button id=prebtn class=prebtn><img src=https://www.systemuicons.com/images/icons/chevron_left.svg></button></a>
        
        <form action="/customer" method="post">
        <div class=mid>
        <h>New Customer</h>
        </div>
        </div>

        <div class="customer">
       
        <input type="hidden" name="ID" value="<%- ID %>">

        <input type="hidden" name="userID" value="<%- userID %>">
        
        <div class=block>
        <h>First name</h></br>
        <% if(locals.fname) { %>
        <input id=fname name="fname" class="inpt" type="text" value="<%- fname %>">
        <% } else { %>
        <input id=fname name="fname" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>Last name</h></br>
        <% if(locals.lname) { %>
        <input id=lname name="lname" class="inpt" type="text" value="<%- lname %>">
        <% } else { %>
        <input id=lname name="lname" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>Email</h></br>
        <% if(locals.email) { %>
        <input id=email name="email" class="inpt" type="text" value="<%- email %>">
        <% } else { %>
        <input id=email name="email" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>Phone number</h></br>
        <% if(locals.phonenumber) { %>
        <input id=phonenumber name="phonenumber" class="inpt" type="text" value="<%- phonenumber %>">
        <% } else { %>
        <input id=phonenumber name="phonenumber" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>Address</h></br>
        <% if(locals.address) { %>
        <input id=address name="address" class="inpt" type="text" value="<%- address %>">
        <% } else { %>
        <input id=address name="address" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>Post code</h></br>
        <% if(locals.postcode) { %>
        <input id=postcode name="postcode" class="inpt" type="text" value="<%- postcode %>">
        <% } else { %>
        <input id=postcode name="postcode" class="inpt" type="text" value="">
        <% } %>
        </div>
          
        <div class=block>
        <h>City</h></br>
        <% if(locals.city) { %>
        <input id=city name="city" class="inpt" type="text" value="<%- city %>">
        <% } else { %>
        <input id=city name="city" class="inpt" type="text" value="">
        <% } %>
        </div>
        
        <div class=block>
        <h>Country</h></br>
        <% if(locals.country) { %>
        <input id=country name="country" class="inpt" value="<%- country %>">
        <% } else { %>
        <input id=country name="country" class="inpt" value="">
        <% } %>
        </div>
          
        <button id=newcustomerbtn class=newbtn type=submit>+</button>
    </form>

    </div>
  </div>

</body>

</html>