<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="script" href="/home.js">
  <link rel="stylesheet" href="/home.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>

<div id=home class=home>
<a href="/bill"><button class=btn>+</button></a>
<a href="/user"><button id=billbtn class=profilebtn><img src="https://www.systemuicons.com/images/icons/menu_vertical.svg"></button></a>
</div>

<h1>Hi <%- ID %></h1>

<div id=filterdiv class=filterdiv>
<button id=filterbtn class=filterbtn><img src=https://www.systemuicons.com/images/icons/search.svg></button>
<input type=text id=filter class=filter>
</div>
  
<button id=confirmed class=confirmed>Confirmed</button>

<ul id=itemlist class=itemlist>
  <% for (var result of result) { %>
    <form action="/tx" method="post">
    <button type="submit" class="itemlistbtn">
      <div class="div">
      <li><h class="bllinpt"><%- result.customer %></h><h class="right"><%- result.sum %></h></li>
      </div>
      <input type="hidden" name="customer" value="<%- result.customer %>">
      <input id="bill" class="right" type="hidden" name="sum" value="<%- result.sum %>">
      <input type="hidden" name="userID" value="<%- result.userID %>">
      <input type="hidden" name="billID" value="<%- result.ID %>">
    </button>
   </form>
  <% } %>
  <a href="/billlist"><button id="billlistbtn" class="bllbtn">View more</button></a>
</ul></br>

</body>

<script>

// filter bll li
document.getElementById("filter").addEventListener("input", function (event) {

const filteritem = event.target.value.toLowerCase();
const itemlist = document.querySelectorAll("#itemlist li");
  
itemlist.forEach(function(item)  {
  
const itemText = item.textContent.toLowerCase();
  
if (itemText.includes(filteritem)) {
    item.style.display = "list-item";   
} else { 
    item.style.display = "none";
}
  })
});

// filter confirmed bll li
document.getElementById("confirmed").addEventListener("click", function (event) {

const filteritem = event.target.value.toLowerCase();
const itemlist = document.querySelectorAll("#itemlist li");
  
itemlist.forEach(function(item)  {
  
const itemText = item.textContent.toLowerCase();
const confirmed = document.getElementById("confirmed");
  
if (itemText.includes(confirmed.innerHTML)) {
    item.style.display = "list-item";
} else {
    item.style.display = "none";
}
  })
});
</script>

</html>