<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>
  
  <div id="product" class="product">
    <div id="home" class="home"> 
    <a href="/product"><button class="prebtn"><img src="https://www.systemuicons.com/images/icons/chevron_left.svg"></button></a>
  </div>

  <div class="mid">
    <h>New Product</h>
  </div>
        
  <form action="/product" method="post">
        
    <input type="hidden" id="ID" name="ID" value="<%- ID %>">
    <input type="hidden" id="userID" name="userID" value="<%- userID %>">

    <div class="block">
      <h>Product</h> 
      <% if(locals.product) { %>
      <input id="productinpt" class="inpt" name="product" type="text" value="<%- product %>" required>
      <% } else { %>
      <input id="productinpt" class="inpt" name="product" type="text" value="" required>
      <% } %>
      
      <div id="error" class="error">
        <p>This field is required</p>
      </div>
    </div>
          
    <div class="block">
      <h>Description</h> 
      <% if(locals.description) { %>
      <input class="inpt" name="description" type="text" value="<%- description %>" required>
      <% } else { %>
      <input class="inpt" name="description" type="text" value="" required>
      <% } %>
    </div> 
        
    <div class="block">
      <h>Price</h>
      <% if(locals.price) { %>
      <input class="inpt" name="price" type="text" value="<%- price %>" required>
      <% } else { %>
      <input class="inpt" name="price" type="text" value="" required>
      <input id="btcinpt" class="btcinpt" type="text" placeholder="0.00 BTC" disabled>
      <% } %>
    </div>
        
    <button class="newbtn" type="submit">+</button>
  </form>

</div>

</body>

</html>