<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

  <div class=grid>
  <div id=home class=home>
  </div>
    
    <a href="/billlist"><button id=prebtn class=prebtn><img src=https://www.systemuicons.com/images/icons/chevron_left.svg></button></a>
  
    <div>
      <h1 id=sum class=sum><%- result.sum %></h1>
      <h id=customer><%- result.customer %></h></br></br>
  
      <% for (var product of product) { %>
      <h id=product><%- product.product %></h><h class="right"><%- product.grossprice %></h></br>
      <% } %></br>
    </div></br>
    
    <h>Shipping</h><h class="right"><%- result.shipping %></h></br></br>
    <h>Discount</h><h class="right"><%- result.discount %></h></br></br>
    
    <h>Confirmed</h></br></br>
    <a href="/pdf"><button id=pdfbtn class=pdfbtn>View Bll</button></a>
 
  </div>
   
</body>
    
</html>