<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>
  
  <div class="grid">
    <div id="home" class="home">
    </div>
    
    <a href="/billlist"><button class="prebtn"><img src="https://www.systemuicons.com/images/icons/chevron_left.svg"></button></a>
  
    <h1 class="sum"><%- result.sum %></h1>
    <h><%- result.customer %></h></br></br>

    <% for (var product of product) { %>
      <li>
        <h class="qty"><%- product.qty %> x <%- product.grossprice %> BTC</h></br></br>
        <h class=""><%- product.product %></h><h class="right"><%- product.price %> BTC</h>
      </li></br>
      <% } %></br></br>
  
      <li><h>Shipping</h><h class="right"><%- result.shipping %></h></li></br></br>
      <li><h>Discount</h><h class="right"><%- result.discount %></h></li></br></br>
  
      <h>Confirmed</h></br></br>
      <a href="/pdf"><button class="pdfbtn">View Bll</button></a>

    </div>
 
</body>
  
</html>